<!DOCTYPE html>
<html>
<head>
  <title>Solr</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag ['jquery', 'rails', 'jquery.url.js', 'solr'] %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container_16">
    <div class="grid_16">
      <h1><a href="/">ROBO_BLOG</a></h1>
    </div>
    <div class="grid_12">
      <%= yield %>
    </div>
    <div class="grid_4">
      <%= render :partial => 'shared/sidebar' %>
    </div>
    <div class="clear"></div>
  </div>
</body>
</html>
